<template>
  <div>
    <div class="test">{{ msg }}</div>
    <input type="text" v-model="msg">
    <div class="notest">Not Reactive...</div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msg: "It Works!!"
    }
  }
}
</script>

<style>
.test {
  font-weight: bold;
  font-size: 20px;
}
</style>
